# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
# CONFIG_ISO_PARTITION is not set
# CONFIG_EFI_PARTITION is not set
CONFIG_FS_EXT4=y
CONFIG_FS_FAT=y
# CONFIG_ENV_IS_IN_EXT4 is not set
CONFIG_ENV_SIZE=0x1000
# CONFIG_EFI_LOADER is not set
CONFIG_CMD_SETEXPR=y
# Delay before automatically running bootcmd;
# set to 0 to autoboot with no delay, but you can stop it by key input.
# set to -1 to disable autoboot.
# set to -2 to autoboot with no delay and not check for abort
CONFIG_BOOTDELAY=-2
# Remove everything we can't use on the remote. USB ports are gone, display would need custom driver, so no need for console
CONFIG_DISABLE_CONSOLE=y
CONFIG_SILENT_CONSOLE=y
CONFIG_SILENT_CONSOLE_UPDATE_ON_RELOC=y
# CONFIG_CMDLINE_EDITING is not set
# CONFIG_USB is not set
# CONFIG_PREBOOT is not set
# CONFIG_CMD_USB is not set
# CONFIG_NET is not set
# CONFIG_DM_ETH is not set
# CONFIG_NETDEVICES is not set
# CONFIG_PHYLIB is not set
# CONFIG_CMD_PXE is not set
# CONFIG_BOOTP_PXE is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_SYS_XTRACE is not set
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
