#
# YIO development kernel configuration for all targets
#
CONFIG_KERNEL_LZ4=y
CONFIG_CMDLINE=""

CONFIG_ZRAM=y
CONFIG_ZSMALLOC=y

CONFIG_CPU_FREQ_DEFAULT_GOV_POWERSAVE=y

# -- File systems
CONFIG_MISC_FILESYSTEMS=y
CONFIG_BLOCK=y
CONFIG_EXT4_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y

CONFIG_CIFS=m
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_ACL=y
CONFIG_CIFS_DFS_UPCALL=y

# CONFIG_BTRFS_FS is not set
# CONFIG_REISERFS_FS is not set
# CONFIG_JFS_FS is not set
# CONFIG_XFS_FS is not set
# CONFIG_GFS2_FS is not set
# CONFIG_OCFS2_FS is not set
# CONFIG_NILFS2_FS is not set
# CONFIG_QUOTA is not set
# CONFIG_NTFS_FS is not set
# CONFIG_HFS_FS is not set
# CONFIG_HFSPLUS_FS is not set
# CONFIG_ISO9660_FS is not set
# CONFIG_UDF_FS is not set

# --
CONFIG_CRYPTO=y
CONFIG_CRYPTO_LZ4=y

CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_MSDOS_PARTITION=y

# CONFIG_LOGO is not set
# CONFIG_DEBUG_STACK_USAGE is not set

CONFIG_TUN=y
CONFIG_VLAN_8021Q=m
CONFIG_VLAN_8021Q_GVRP=y
CONFIG_VLAN_8021Q_MVRP=y
