ctrl_interface=DIR=/run/wpa_supplicant GROUP=netdev
# update_config is required to update the WIFI configuration from remote-software
update_config=1
country=<2 letter ISO 3166-1 country code: DK, DE, NL, CH, US, UK, ...>

# fast_reauth might be required if you have multiple access points or roaming
#fast_reauth=1

network={
    ssid="<Name of your wireless LAN>"
    psk="<Password for your wireless LAN>"
}