body {
  background-color: #000;
  margin: 0;
  border: 0;
  padding: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  width: 100%;
  height: 100%;
}

h3 {
  color: #ffffff;
  margin-top: 7px;
  margin-left: 5;
  /* text-align: left; */
  margin-bottom: 0px;
  /* display: contents; */
  float: left;
}

h4 {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 5px;
  text-transform: uppercase;
  border-bottom-width: 2;
  border-bottom-style: solid;
  border-bottom-color: #1d1d1d;
  display: contents;
}

h5 {
  border-bottom-color: #000;
  border-bottom-width: 0.5;
  /*border-bottom-style: solid;*/
  padding-bottom: 11px;
  font-size: 18px;
  margin-left: 11px;
  margin-right: 12px;
  margin-bottom: -7px;
  z-index: 9513;
  position: relative;
}

li,
ul {
  list-style-type: none;
}

input,
select {
  width: 100px;
  /* display: block; */
  float: right;
  background-color: #171717;
  border: 0;
  color: #fff;
  padding: 3;
  padding-left: 10;
  border-radius: 8px;
  outline: none;
  height: 22px;
  margin-top: 0;
  appearance: none;
}

select {
  float: right;
  width: 100px;
}

button {
  width: 100px;
  background-color: #2f2e2e;
  display: inline-block;
  border: none;
  border-radius: 20px;
  color: #eee;
  margin: 5px;
  padding: 5px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  float: right;
}

.miniButton {
  width: 26px;
  height: 26px;
  font-size: 20px;
  font-weight: bold;
  transform: rotate(180deg);
}

.smallButton {
  margin: 0;
  margin-top: -2px;
  width: 60;
  top: 0;
  margin-left: 5px;
  background-color: #1c1b1b;
}

.pageName {
  font-size: 20px;
  /* font-weight: bold; */
  margin-top: 27px;
  margin-left: 14px;
  float: left;
}

.profileIcon {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #918682;
  float: left;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}

.blockMedium {
  display: block;
  height: 85px;
}

.blockSmall {
  display: block;
  height: 10px;
}

button:hover,
.dragableItem:hover,
.menuItem:hover,
.dragableItemError:hover {
  background-color: #222332;
}
button:active,
.dragableItem:hover,
.menuItem:hover {
  background-color: #222332; /*#0e3b15*/
  border: none;
}

#configJsonTextBox {
  height: 84%;
  width: 580px;
  background-color: #222332;
  color: #eee;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}

#configFile {
  background-color: #313247;
}

.logoHolder {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}

.menuLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.menuFrame {
  height: 100%;
  width: 275px;
  position: fixed;
  background-color: #1c1c1c;
}

.menuItem {
  font-size: 20px;
  margin: 2px;
  text-align: center;
  border-radius: 5px;
  padding: 8px;
}

.mainFrame {
  width: 100%;
  min-height: 100%;
  position: inherit;
  /* padding-top: 20px; */
  background-color: #161515;
}

.toolpage {
  min-height: 100%;
}

.toolFrame {
  height: 100%;
  width: 330px;
  position: fixed;
  right: 0px;
  top: 0;
  padding: 10px;
  background-color: #313247;
  overflow-y: scroll;
  align-content: space-between;
  box-sizing: content-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#configJsonTextBox {
  overflow-y: scroll;
  align-content: space-between;
  box-sizing: content-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.toolFrame::-webkit-scrollbar,
#configJsonTextBox::-webkit-scrollbar {
  display: none;
}

.configPage {
  background-color: #161515;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-top: 30px;
  margin: auto auto;
  width: 600px;
  overflow: hidden;
}

.configGroup {
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #1c1c1c;
  margin-bottom: 2px;
  border-radius: 14px;
  /* height: 80; */
  overflow: hidden;
  width: 565px;
}

.configItem,
.dragableItem,
.dragableItemError {
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 7px;
  background-color: #282828;
  margin-bottom: 10px;
  border-radius: 6px;
}

.dragableItem,
.dragableItemError {
  background-color: #1d1e2b;
  list-style-type: none;
}
.configItem,
.dragableItem,
.dragableItemError,
.menuItem {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.dragableItemError {
  color: #b00;
}

.dragList,
.toolDragList,
.toolDragListInactive {
  padding-left: 9px;
  padding-right: 10px;
  padding-top: 13px;
  padding-bottom: 4px;
  margin-top: 6px;
  margin-bottom: 29px;
  border-radius: 15px;
  border-style: dashed;
  border-width: 0.5;
  border-color: #44455d;
  background-color: #313247;
  min-height: 41px;
}

.toolDragListInactive {
  border-color: #2e2e2e;
  background-color: #171717;
}

.configMenu {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1c1b1b;
  margin-bottom: 2px;
  border-radius: 5px;
  min-height: 36px;
}

.small {
  color: #585858;
  right: 0px;
  float: right;
  font-weight: 600;
  font-size: small;
  text-transform: uppercase;
}
