[Unit]
Description=Remote app
After=sharp-init.service

[Service]
Type=simple
ExecStart=/opt/yio/app-launch.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
