[Unit]
Description=Backlight on
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/opt/yio/scripts/sharp-backlight-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
