[Unit]
Description=Bluetooth console activated with /boot/btconsole marker
After=bluetooth.service
PartOf=bluetooth.service
Requires=bluetooth.service bt-agent-marker.service
RequiresMountsFor=/boot
ConditionPathExists=/boot/btconsole

[Service]
ExecStartPre=/bin/sdptool add SP
ExecStartPre=/bin/hciconfig hci0 up
ExecStartPre=/bin/hciconfig hci0 piscan
ExecStart=/bin/rfcomm watch hci0 1 getty rfcomm0 115200 vt100

[Install]
WantedBy=bluetooth.target
