[Unit]
Description=YIO display init
After=network.target

[Service]
Type=simple
ExecStart=/opt/yio/scripts/display-init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
