[Unit]
Description=Backlight on
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/opt/yio/scripts/backlight-init
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
