
[Unit]
Description=Run clock file update script
RefuseManualStart=no
RefuseManualStop=no

[Service]
Type=oneshot
ExecStart=/usr/libexec/update_clock_file.sh
