image data.ext4 {
  name = "data"
  ext4 {
    label = "YIO-data"
  }
  empty = true
  size = 128M
}

image yio-sdcard.img {
  hdimage {
    align = 4M
    gpt = true
    disk-uuid = ffc761cd-0e1a-4264-b0ce-9860e22c79c5
  }

  partition boot {
    # this creates a hybrid MBR & GPT partition. RPi can only boot from MBR!
    partition-type = 0xC
    bootable = "true"
    image = "boot.vfat"
    size = 32M
    partition-uuid = 53a3720d-07aa-4680-ab6d-f2ed0979c9ea
  }

  partition recovery {
    image = "recovery.ext4"
    size = 384M
    partition-uuid = b9ea076c-315f-422b-85d7-887854415b1e
  }

  partition rootfs1 {
    image = "rootfs.squashfs"
    size = 512M
    partition-uuid = b831b597-efc4-4132-b88c-c50a2d4589cf
  }

  partition rootfs2 {
    image = "rootfs.squashfs"
    size = 512M
    partition-uuid = f2f82015-3087-485a-9241-914026bca453
  }

  partition data {
    image = "data.ext4"
    partition-uuid = 79055324-d7a8-4768-afc6-c7dbfc9a4612
  }
}
